name: Deploy Flask App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1 # change if needed

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e

            cd /home/ec2-user
            
            # clone once
            if [ ! -d "python_flask-project" ]; then
              git clone https://github.com/bhawnavishwakarma007/python_flask-project.git
            fi
            
            cd python_flask-project
            git pull origin main
            
            # create venv once
            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi
            
            ./venv/bin/pip install -r requirements.txt
            
            # just start the app
            nohup ./venv/bin/python app.py > flask.log 2>&1 &


            echo "Starting Flask app..."
            nohup ./venv/bin/python app.py > flask.log 2>&1 &

            echo "Deployment completed successfully."
