name: Flask Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Amazon Linux EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |

            sudo yum update -y
            sudo yum install -y git python3-pip

            cd /home/ec2-user

            # Clone if missing
            if [ ! -d "python_flask-project" ]; then
              git clone https://github.com/bhawnavishwakarma007/python_flask-project.git
            fi

            cd python_flask-project
            git pull origin main

            pip3 install --upgrade pip
            pip3 install -r requirements.txt

            pkill -f app.py || true

            nohup python3 app.py > flask.log 2>&1 &
