script: |

  sudo apt update
  sudo apt install -y git python3-pip python3-venv

  cd /home/ubuntu

  git clone https://github.com/bhawnavishwakarma007/python_flask-project.git || true

  cd python_flask-project

  git pull origin main

  # Create virtual environment (only first time)
  python3 -m venv venv || true

  # Activate venv
  source venv/bin/activate

  # Install dependencies inside venv
  pip install -r requirements.txt

  # Kill old app
  pkill -f app.py || true

  # Run app from venv python
  nohup venv/bin/python app.py > flask.log 2>&1 &
