name: Flask Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Deploy to Ubuntu EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |

            # Install dependencies
            sudo apt update
            sudo apt install -y git python3-pip

            cd /home/ubuntu

            # Clone repo if not exists
            git clone https://github.com/bhawnavishwakarma007/python_flask-project.git || true

            cd python_flask-project

            # Pull latest code
            git pull origin main

            # Install python packages
            pip3 install -r requirements.txt

            # Stop old app
            pkill -f app.py || true

            # Start app
            nohup python3 app.py > flask.log 2>&1 &
