name: Flask Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Deploy Application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}   # ✅ REQUIRED
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}     # ✅ SSH private key
          script: |

            sudo yum install -y git python3-pip

            cd /home/ec2-user

            git clone https://github.com/bhawnavishwakarma007/python_flask-project.git || true

            cd python_flask-project

            git pull origin main

            pip3 install -r requirements.txt

            pkill -f app.py || true

            nohup python3 app.py > flask.log 2>&1 &
