name: Flask Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1 # change if needed


    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Create SSH Key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 400 key.pem


      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i git.pem ec2-user@${{ secrets.EC2_HOST }} << 'EOF'

          sudo yum update -y
          sudo yum install -y git python3

          cd /home/ec2-user

          if [ ! -d "python_flask-project" ]; then
            git clone https://github.com/bhawnavishwakarma007/python_flask-project.git
          fi

          cd python_flask-project
          git pull origin main

          pip3 install --upgrade pip
          pip3 install -r requirements.txt

          pkill -f app.py || true

          nohup python3 app.py > flask.log 2>&1 &

          EOF
